@import url('https://fonts.googleapis.com/css?family=Hanalei+Fill&display=swap');

/*  browser default font size: 1em = 16px */
/*  body default font size is set to 18px */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 100% Helvetica, Arial, sans-serif;
  max-width: 100%;
  color: #414141; /* Dark gray */
  background-color: #eeeeee; /* Light gray */
  font-size: 18px;
}

h1 {
  font-family: 'Hanalei', cursive;
  font-size: 2em; /* 38px / 18px = 2em */
  /* background-color: #dde0e3; Light gray For layout & troubleshooting purposes */
  color: yellow;
  padding: 50px;
  text-align: center;
  /* border: 1px solid red; */ /* For layout & troubleshooting purposes*/
}

h2 {
  font-family: 'Hanalei', cursive;
  font-size: ‭1.333333333333333‬em; /* 24px / 18px = ‭1.333333333333333‬em */
  padding: 50px;
  text-align: center;
  /*border: 1px solid red; /* For layout & troubleshooting purposes*/
}

/* Flexible images */
/* Use width & display to make images flex to their parent’s size. */
img {
  display: block;
  width: 100%;
  /* border: 1px solid red; /* For layout & troubleshooting purposes*/
}

.welcome-image {
  width: 50%;
  margin: 0 auto;
}

.welcome-quote {
  /* border: 1px solid red; */ /* For layout & troubleshooting purposes*/
  padding: 50px;
  text-align: center;
  font-style: italic;
  color: yellow;
}

.navbar {
  /* border: 2px green solid; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.06072874493927%;
  background-color: #333;
}

.nav_links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#welcome-section {
  height: 100vh;
  margin-top: 2.5em;
  background-color: black;
  /* border: 2px green solid; */
}

#projects {
  height: 100vh;
  text-align: center;
  background-color: yellow;
  color: black;
  /*border: 1px solid red; /* For layout & troubleshooting purposes*/
}

.projects-grid {
  display: grid;
  grid-template-columns: 25% 25% 25%; /*3 columns*/
  grid-template-rows: auto auto; /*2 rows*/
  grid-gap: 15px; /*space between the 6 cells*/
  justify-content: center;
  margin-bottom: 50px;
  /* border: 1px solid red; /* For layout & troubleshooting purposes*/
}

.project-tile {
  /*border: 1px solid red; /* For layout & troubleshooting purposes*/
}

.project-tile-link {
  color: black;
  background-color: yellow;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
}

.button:link,
.button:visited {
  display: block;
  text-decoration: none;

  color: yellow;
  background-color: black;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5d6063;
  border-radius: 5px;

  width: 200px;
  margin: 0 auto;
  cursor: pointer;
}

.button:hover,
.button:visited:hover {
  background-color: #f5cf8e; /* Light yellow */
}

#contact {
  height: 100vh;
  text-align: center;
  color: yellow;
  background-color: black;
  /* border: 2px green solid; */
}

.contact-details {
  text-decoration: none;
  font-size: 1.8em;
}

@media (max-width: 28.75em) {
  .navbar {
    justify-content: center;
  }

  .nav_links {
    margin: 0 1rem;
  }
}
